################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RogueGoogleExtensionRemover/v15/Server/sqlite3
/.vs
/ChromeExtensionRemoverLibrary/bin/Release/netstandard2.0
/RogueGoogleExtensionRemover/bin/Release
